ANTHROPIC_API_KEY=your-api-key-here
OPENAI_API_KEY=your-api-key-here

EXA_API_KEY=your-api-key-here

LANGFUSE_SECRET_KEY=your-secret-key-here
LANGFUSE_PUBLIC_KEY=your-public-key-here
LANGFUSE_BASE_URL=https://us.cloud.langfuse.com
